Makefile
/config.status
/libmastik.a
/src/config.h
/demo/config.h
/tools/Doubloon/doubloon
/tools/Doubloon/src/__pycache__
/tools/Doubloon/src/config.py
install_manifest.txt
tools/tools/
/config.log
*.pdf
*.html
*.o
*.a
.en.utf-8.add
.en.utf-8.add.spl

